<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Devtri Seczone Private Limited</h5>
                <p>We are among India's Leading Manpower Outsourcing or staffing Organization. We are committed towards creating an excellence in the Manpower Outsourcing Industry</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Connect With Us</h5>
                <div class="social-links">
                    <a href="https://www.facebook.com/devtriseczone" target="_blank" class="me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/devtriseczone/" target="_blank" class="me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://x.com/DevtriSeczone" target="_blank" class="me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="me-3"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; Copyright All rights reserved 2025.</p>
            </div>
        </div>
    </div>
</footer>