
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Visitor Statistics</h2>
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h3>Total Visitors: {{ total_visitors }}</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Country</th>
                        <th>Region</th>
                        <th>City</th>
                        <th>Visit Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitor in visitors %}
                    <tr>
                        <td>{{ visitor.ip_address }}</td>
                        <td>{{ visitor.country }}</td>
                        <td>{{ visitor.region }}</td>
                        <td>{{ visitor.city }}</td>
                        <td>{{ visitor.visit_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
